mixin header()
    head
      meta(charset='utf-8')
      title Products - Grill Template
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/static/css/font-awesome.css')
      link(rel='stylesheet', href='/static/css/templatemo_style.css')
      link(rel='stylesheet', href='/static/css/templatemo_misc.css')
      link(rel='stylesheet', href='/static/css/flexslider.css')
      link(rel='stylesheet', href='/static/css/testimonails-slider.css')
      link(rel='stylesheet', href='/static/css/main.css')

      script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
      script(src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js")
      link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
      script(src='/static/js/vendor/jquery.gmap3.min.js')
      script(src='/static/js/plugins.js')
      script(src='/static/js/main.js')
      script(src='/static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js')
      script(src='/static/js/validate-forms.js')
    header
      #top-header
        .container
          .row
            .col-md-6
              .home-account
                a(href='/', id='homeButton') Home
                
                if isUserLogged
                    a.btn(id='userOrders') 
                        =username
                    a.btn(href='/logout') Log out
                else
                    a.btn(href='#', id='myAccaunt', data-toggle='modal', data-target='.login-register-form')
                        =username

            .col-md-6
              .cart-info
                a#cart(href='#')
                  i.fa.fa-shopping-cart
                  |  Cart
                  span.badge 0
      .row
        .shopping-cart.col-xs-offset-9.pull-right(style='display:none')
          .shopping-cart-header
            li.fa.fa-shopping-cart.cart-icon
            span.badge 
            .shopping-cart-total
              span.lighter-text Total:
              span.main-color-text $ #{total}
          //- end shopping-cart-header
          ul.shopping-cart-items(id='basket')

            //- foreach item in cart ->checkout
            //- each orderDetails in newBasket 
            //-   li.clearfix.list-group-item
            //-     img(src=orderDetails.food.imgUrl+'.jpg', class='cartOrderImages' alt=orderDetails.food.name)
            //-     span.item-name #{orderDetails.food.name}
            //-     div
            //-       span.item-price Price: #{orderDetails.food.price}
            //-     div
            //-       span.item-quantity Quantity: #{orderDetails.quantity}
            //-       button.btn.btn-primary.btn-danger.btn-xs(type='button') Remove
              
          a.button.btn-warning(href='#') Checkout
        //- end shopping-cart




        .row
        .checkout.col-xs-10(style='display:none')
          .checkout-header
            span.main-color-text.text-center 
              =username
          //- end checkout-header
          if orders
            each order in orders
              ul.checkout-items 
                li 
                  |Order from #{order.createdAt}
                  each orderDetails in order.details  
                    li.clearfix.list-group-item 
                      img(src= orderDetails.Food.imgUrl +'.jpg' , class='cartOrderImages' alt='item1')
                      span.item-name 
                        =orderDetails.Food.name
                      div
                        span.item-price
                          |$ #{orderDetails.Food.price}
                      div
                        span.item-quantity 
                          |Quantity: #{orderDetails.quantity}

        //- end checkout




      #main-header
        .container
          .row
            .col-md-3
              .logo
                a(href='#')
                  img(src='/static/images/logo.png', title='Grill Template', alt='Grill Website Template')
            .col-md-6
              .main-menu
                ul
                  li
                    a(href='/') Home
                  li
                    a(href='/contacts') Contacts
            .col-md-3
              .search-box
                form.search_form(name='search_form', method='get')
                  input#search(type='text' placeholder="Search is not working...")
                  input#search-button(type='submit')
                  
