extends ./_shared/master

block content
    #products-post
      .container
        .row
          .col-md-12
            #product-heading
              h2 Hungry ?
              img.under-heading(src='./../../static/images/under-heading.png', alt='')
        .row
          .filters.col-md-12.col-xs-12
            ul#filters.clearfix
              li
                span.filter(data-filter='all') All

              each category in categories 
                li
                  span.filter(data-filter='.'+ category.name.toLowerCase()) #{category.name}

        #Container.row
          each food in foods  
            each category in categories 
              if food.CategoryId === category.id
                div(class="col-md-3 col-sm-6 mix portfolio-item "+category.name.toLowerCase())
                  -var imgUrl=food.imgUrl;
                  .portfolio-wrapper(data-foodid = food.id)
                    .portfolio-thumb
                      img(src= '' + imgUrl +'.jpg')
                      .hover
                        div.hover-iner
                          a.fancybox(href='/static/images/checkout-light.png')
                            img(src='./../../static/images/open-icon.png')
                          span #{category.name}
                    .label-text
                      h3
                        a.fancybox(href='' + imgUrl +'_big.jpg') #{food.name}
                      span.text-category #{'$ '+food.price}
                        

        .pagination
          .row
            .col-md-12
              ul
                li
                  a(href='#') Previous
                li
                  a(href='#') 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') Next
